body {
  text-align: center;
  background-color: #b2e2ff;
}
.centered-form {
  background-color: #ffe0e3;

  font-size: 20px;

  width: 40%;
  min-height: 10cm;

  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 25%;
  margin-right: 25%;
  display: inline-block;

  text-align: left;

  box-shadow: 10px 10px 5px grey;

  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-top: 30px;

  border-radius: 15px;
  min-width: 440px;
}

.row {
  margin: 14px;
  padding: 5px;
}


/*  ----------------------------- */


/*  ----------------------------- */